<template>
    <div class="mt-9">
        <div v-if="loading">
            <Loader />
        </div>

    </div>
    <!-- Product Items -->
    <div class="all-product-grid my-5">
        <div class="container-xl">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product-top-dt">
                        <div class="product-left-title">
                            <h2>Vegetables &amp; Fruits</h2>
                        </div>
                        <a href="#" class="filter-btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFilter"
                            aria-controls="offcanvasFilter">Filters</a>
                        <div class="product-sort main-form">
                            <div class="dropdown bootstrap-select" style="width: 25%;"><select class="selectpicker"
                                    data-width="25%" tabindex="null">
                                    <option value="0">Popularity</option>
                                    <option value="1">Price - Low to High</option>
                                    <option value="2">Price - High to Low</option>
                                    <option value="3">Alphabetical</option>
                                    <option value="4">Saving - High to Low</option>
                                    <option value="5">Saving - Low to High</option>
                                    <option value="6">% Off - High to Low</option>
                                </select><button type="button" tabindex="-1" class="btn dropdown-toggle btn-light"
                                    data-bs-toggle="dropdown" role="combobox" aria-owns="bs-select-1"
                                    aria-haspopup="listbox" aria-expanded="false" title="Alphabetical">
                                    <div class="filter-option">
                                        <div class="filter-option-inner">
                                            <div class="filter-option-inner-inner">Alphabetical</div>
                                        </div>
                                    </div>
                                </button>
                                <div class="dropdown-menu"
                                    style="max-height: 589px; overflow: hidden; min-height: 139px;">
                                    <div class="inner show" role="listbox" id="bs-select-1" tabindex="-1"
                                        aria-activedescendant="bs-select-1-3"
                                        style="max-height: 573px; overflow-y: auto; min-height: 123px;">
                                        <ul class="dropdown-menu inner show" role="presentation"
                                            style="margin-top: 0px; margin-bottom: 0px;">
                                            <li class=""><a role="option" class="dropdown-item" id="bs-select-1-0"
                                                    tabindex="0" aria-setsize="7" aria-posinset="1"><span
                                                        class="text">Popularity</span></a></li>
                                            <li class=""><a role="option" class="dropdown-item" id="bs-select-1-1"
                                                    tabindex="0" aria-setsize="7" aria-posinset="2"><span
                                                        class="text">Price - Low to High</span></a></li>
                                            <li><a role="option" class="dropdown-item" id="bs-select-1-2"
                                                    tabindex="0"><span class="text">Price - High to Low</span></a></li>
                                            <li class="selected active"><a role="option"
                                                    class="dropdown-item active selected" id="bs-select-1-3"
                                                    tabindex="0" aria-setsize="7" aria-posinset="4"
                                                    aria-selected="true"><span class="text">Alphabetical</span></a></li>
                                            <li><a role="option" class="dropdown-item" id="bs-select-1-4"
                                                    tabindex="0"><span class="text">Saving - High to Low</span></a></li>
                                            <li><a role="option" class="dropdown-item" id="bs-select-1-5"
                                                    tabindex="0"><span class="text">Saving - Low to High</span></a></li>
                                            <li><a role="option" class="dropdown-item" id="bs-select-1-6"
                                                    tabindex="0"><span class="text">% Off - High to Low</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-list-view">
                <div class="row">
                    <div class="col-8">
                        <div class="row">
                            <div class="col-lg-4 col-md-12 my-4" v-for="(product, idx) in products" :key="idx">

                                <ProductItem :product="product"></ProductItem>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <cart :isShop="true"/>
                    </div>
                    <div class="col-md-12">
                        <div class="more-product-btn">
                            <button class="show-more-btn hover-btn" onclick="window.location.href = '#';">Show
                                More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import '../../../assets/css/carousel.css';
import { useStore } from 'vuex';
import { ref, onMounted, watch } from 'vue'
import { computed, reactive } from '@vue/reactivity';
import Loader from '@/components/loader.vue';
import ProductItem from '.././product-item.vue'
import { useRoute } from 'vue-router';
import Cart from '@/components/cart/cart.vue';
export default {
    components: {
        ProductItem,
        Loader,
        Cart

    },
    setup() {
        const route = useRoute();
        const category = route.query.category;
        const store = useStore();
        const products = ref([]);
        const query = computed(() => store.state.productQuery);
        const loading = ref(false);
        const getProduct = async () => {
            loading.value = true;
            let queryString = category ? category : query.value
            await store.dispatch('get', '/product?query=' + queryString).then((data) => {
                products.value = data.data;
                loading.value = false;

            }).catch((error) => console.log(error))
            loading.value = false;
        }
        onMounted(async () => {
            await getProduct();
        });
        watch(query, () => {
            getProduct();
        })
        return {
            getProduct,
            loading,
            products,
        }
    },


}
</script>

<style scoped>
.mt-9 {
    margin-top: 140px;
}

.-m {
    right: -200px;
}
</style>