<template>
    <div class="cart-item">
        <div class="cart-product-img">
            <img src="../../assets/img/product/img-1.jpg" alt="" />
            <div class="offer-badge">6% OFF</div>
        </div>
        <div class="cart-text">
            <h4>{{product.name}}</h4>
            <div class="cart-radio">
                <ul class="kggrm-now">
                    <li>
                        <input type="radio" id="a1" name="cart1" />
                        <label for="a1">{{product.instock}}</label>
                    </li>
                    <li>
                        <input type="radio" id="a2" name="cart1" />
                        <label for="a2">1kg</label>
                    </li>
                    <li>
                        <input type="radio" id="a3" name="cart1" />
                        <label for="a3">2kg</label>
                    </li>
                    <li>
                        <input type="radio" id="a4" name="cart1" />
                        <label for="a4">3kg</label>
                    </li>
                </ul>
            </div>
            <div class="qty-group">
                <div class="quantity buttons_added d-flex">
                    <input type="button" value="-" class="minus minus-btn" @click="store.commit('decreaseCart', {product:product})"/>
                    <p class="mx-3" v-html="product.totalQty"></p>

                    <input type="button" value="+" class="plus plus-btn" @click="store.commit('increaseCart', {product:product})"/>
                </div>
                <div class="cart-item-price">$10 <span>{{product.totalAmount}}</span></div>
            </div>
            <button type="button" class="cart-close-btn" @click="store.commit('removeFromCart', {product:product})"><i class="uil uil-multiply"></i></button>
        </div>
    </div>

</template>
<script>
import { computed, defineComponent } from 'vue'
import { useStore } from 'vuex';

export default defineComponent({
    props: {
        item: {
            type: Object,
            required: true,
        }
    },
    setup(props) {
        const store = useStore();
        const product = computed(() => props.item);
        return {
            store,
            product
        }
    },
})
</script>
