<template>
    <div :class="isShop ? 'bg-cart shop-cart' : 'bs-canvas bs-canvas-left position-fixed bg-cart h-100'">
        <div class="bs-canvas-header side-cart-header p-3">
            <div class="d-inline-block main-cart-title">My Cart <span>({{ store.state.totalCartLength }})items</span>
            </div>
            <button type="button" class="bs-canvas-close close" aria-label="Close"><i
                    class="uil uil-multiply"></i></button>
        </div>
        <div class="bs-canvas-body">
            <div class="cart-top-total">
                <div class="cart-total-dil">
                    <h4>Gambo Super Market</h4>
                    <span>${{ store.state.totalCartAmount }}</span>
                </div>
                <div class="cart-total-dil pt-2">
                    <h4>Delivery Charges</h4>
                    <span>$1</span>
                </div>
            </div>
            <div class="side-cart-items">
                <!-- Each cartItem -->
                <div v-if="cartProducts.length < 1" class="text-danger text-center my-5">No Products in cart</div>
                <cartItem :item="product" v-for="(product, idx) in cartProducts" :key="idx" />
            </div>
            <div>
                <button  v-if="cartProducts.length > 0" class="show-more-btn hover-btn mx-auto w-50 my-2 d-block" @click="generateReceipt">Generate Receipt</button>
            </div>
        </div>

    </div>
</template>
<script>
import { computed, defineComponent } from 'vue'
import { useStore } from 'vuex';
import cartItem from './cart-item.vue';

export default defineComponent({
    components: { cartItem },
    props: {
        
        isShop: {
            type: Boolean,
            required: true
        }
    },
    setup(props) {
        const store = useStore()
        const cartProducts = computed(() => store.state.cart);
        const isShop = computed(() => props.isShop);
        
        const generateReceipt = ()=>{
            
        }
        return {
            store,
            isShop,
            cartProducts
        }
    },
})
</script>
<style scoped>

.shop-cart{
    top: 24%;
    z-index: 10;
    position: sticky;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 500px;
    display: block;
    background: white;
    width: 100%;
}
.side-cart-items{
    display: block;
    min-height: 200px;
    overflow: visible;
}
.bs-canvas-body {
    background: #f9f9f9;
    position: absolute;
    width: 100%;
    top: 48px;
    height: 500px;
    bottom: 190px;
    overflow-y: scroll;
}

</style>
