<template>
    <div class="item ">
        <a :href="'/shop?category=' + category.name" class="category-item">
            <div class="cate-img">
                <img src="../../assets/img/category/icon-2.svg" alt="" class="img-fluid" />
            </div>
            <h4>{{ category.name }}</h4>
        </a>
    </div>
</template>

<script>
import { computed, defineComponent, PropType } from 'vue'

export default defineComponent({
    props:{
        item:{
            type: Object,
            required:true
        }
    },
    setup(props) {
        const category = computed(()=> props.item);
        return {
            category
        }
    },
})
</script>


<style>

</style>