<template>
    <div class="row">
        <div class="col-md-12">
            <div class="main-title-tt">
                <div class="main-title-left">
                    <span>Select By</span>
                    <h2>Categories</h2>
                </div>
            </div>
        </div>
        <Loader v-if="loading" />

        <div class="col-md-12" v-else>
            <carousel :items-to-show="itemsToShow(categories.length)" snapAlign="center">
                <slide v-for="category in categories" :key="category.id" class=" carousel__slide__white__bg">
                    <CategoryItem :item='category' />
                </slide>
                <template #addons>
                    <Navigation />
                    <Pagination />
                </template>
            </carousel>
        </div>

        <!-- <div class="col-md-12">

            <div class="owl-carousel cate-slider owl-theme">
                <div class="item">
                    <a href="#" class="category-item">
                        <div class="cate-img">
                            <img src="../assets/img/category/icon-2.svg" alt="" />
                        </div>
                        <h4>Grocery & Staples</h4>
                    </a>
                </div>
                <div class="item">
                    <a href="#" class="category-item">
                        <div class="cate-img">
                            <img src="../assets/img/category/icon-3.svg" alt="" />
                        </div>
                        <h4>Dairy & Eggs</h4>
                    </a>
                </div>
                <div class="item">
                    <a href="#" class="category-item">
                        <div class="cate-img">
                            <img src="../assets/img/category/icon-4.svg" alt="" />
                        </div>
                        <h4>Beverages</h4>
                    </a>
                </div>
                <div class="item">
                    <a href="#" class="category-item">
                        <div class="cate-img">
                            <img src="../assets/img/category/icon-5.svg" alt="" />
                        </div>
                        <h4>Snacks</h4>
                    </a>
                </div>
                <div class="item">
                    <a href="#" class="category-item">
                        <div class="cate-img">
                            <img src="../assets/img/category/icon-6.svg" alt="" />
                        </div>
                        <h4>Home Care</h4>
                    </a>
                </div>
                <div class="item">
                    <a href="#" class="category-item">
                        <div class="cate-img">
                            <img src="../assets/img/category/icon-7.svg" alt="" />
                        </div>
                        <h4>Noodles & Sauces</h4>
                    </a>
                </div>
                <div class="item">
                    <a href="#" class="category-item">
                        <div class="cate-img">
                            <img src="../assets/img/category/icon-8.svg" alt="" />
                        </div>
                        <h4>Personal Care</h4>
                    </a>
                </div>
                <div class="item">
                    <a href="#" class="category-item">
                        <div class="cate-img">
                            <img src="../assets/img/category/icon-9.svg" alt="" />
                        </div>
                        <h4>Pet Care</h4>
                    </a>
                </div>
                <div class="item">
                    <a href="#" class="category-item">
                        <div class="cate-img">
                            <img src="../assets/img/category/icon-10.svg" alt="" />
                        </div>
                        <h4>Meat & Seafood</h4>
                    </a>
                </div>
                <div class="item">
                    <a href="#" class="category-item">
                        <div class="cate-img">
                            <img src="../assets/img/category/icon-11.svg" alt="" />
                        </div>
                        <h4>Electronics</h4>
                    </a>
                </div>
            </div>
        </div> -->
    </div>
</template>

<script>
import '../../assets/css/carousel.css';
import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';
import { useStore } from 'vuex';
import { computed, ref } from '@vue/reactivity';
import Loader from '@/components/loader.vue';
import { UseCarouselCount } from '@/composables/useCarouselCount';
import CategoryItem from './category-item.vue';
export default {
    components: {
        Carousel,
        Slide,
        Pagination,
        Navigation,
        Loader,
        CategoryItem
    },
    setup() {
        const store = useStore();
        const loading = ref(false)
        const categories = computed(() => store.state.categories);
        const { itemsToShow } = UseCarouselCount();

        const getCategories = () => {
            loading.value = true;
            store.dispatch('get', '/categories').then((data) => {
                let result = data.data.data;
                store.commit('setCategory', result);
                if (result.length == 0) {
                    store.dispatch('handleError', 'No categories at the moment');

                }
                loading.value = false;


            }).catch((error) => {
                loading.value = false;
                store.dispatch('handleError', error);
            })
        }
        return {
            itemsToShow,
            loading,
            categories,
            getCategories
        }
    },
    created() {
        this.getCategories();
    }
}
</script>

<style>

</style>