<template>
    <div>
        
    </div>
</template>
<script>
import { computed, defineComponent } from 'vue'
import { useStore } from 'vuex';
import cartItem from './cart-item.vue';

export default defineComponent({
    components: { cartItem },
    props: {
        
     
    },
    setup(props) {
        const store = useStore()
        const cartProducts = computed(() => store.state.cart);
        const generateReceipt = ()=>{
            
        }
        return {
            store,
            cartProducts
        }
    },
})
</script>
