:root {
    /* Color */
    --vc-clr-primary: #7b7b7b;
    --vc-clr-secondary: #bebebe;
    --vc-clr-white: #ffffff;
  
    /* Icon */
    --vc-icn-width: 1.2em;
  
    /* Navigation */
    --vc-nav-width: 30px;
    --vc-nav-color: #ffffff;
    --vc-nav-background-color: var(--vc-clr-primary);
  
    /* Pagination */
    --vc-pgn-width: 10px;
    --vc-pgn-height: 5px;
    --vc-pgn-margin: 5px;
    --vc-pgn-border-radius: 0;
    --vc-pgn-background-color: var(--vc-clr-secondary);
    --vc-pgn-active-color: var(--vc-clr-primary);
  }
  .carousel__prev,
  .carousel__next {
    background-color: var(--vc-nav-background-color);
    border-radius: var(--vc-nav-width);
    width: var(--vc-nav-width);
    height: var(--vc-nav-width);
    text-align: center;
    font-size: calc(var(--vc-nav-width) * 2 / 3);
    padding: 0;
    color: var(--vc-nav-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 0;
    cursor: pointer;
  }
  
  .carousel__prev {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
  }
  
  .carousel__next {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
  }
  
  .carousel--rtl .carousel__prev {
    left: auto;
    right: 0;
    transform: translate(50%, -50%);
  }
  
  .carousel--rtl .carousel__next {
    right: auto;
    left: 0;
    transform: translate(-50%, -50%);
  }
  .carousel__pagination {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  .carousel__pagination-button {
    margin: var(--vc-pgn-margin);
    width: var(--vc-pgn-width);
    height: var(--vc-pgn-height);
    border-radius: var(--vc-pgn-height);
    border: 0;
    cursor: pointer;
    background-color: var(--vc-pgn-background-color);
  }
  
  .carousel__pagination-button--active {
    background-color: var(--vc-pgn-active-color);
  }
  .carousel__slide {
    scroll-snap-stop: auto;
    flex-shrink: 0;
    margin: 0;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel {
    position: relative;
    text-align: center;
    box-sizing: border-box;
  }
  
  .carousel * {
    box-sizing: border-box;
  }
  
  .carousel__track {
    width: 1100px;
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  .carousel__viewport {
    overflow: hidden;
  }
  .carousel__icon {
    width: var(--vc-icn-width);
    height: var(--vc-icn-width);
    fill: currentColor;
  }
  .carousel__slide__white__bg{
    width: 100px;
    border-radius: 10px;
    margin: 5px;
    background-color: var(--vc-clr-white);
  }
  