<template>
      <div class="section145">
        <div class="container">
          <Category/>
        </div>
      </div>

      <div class="section145">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="main-title-tt">
                <div class="main-title-left">
                  <span>For You</span>
                  <h2>Top Featured Products</h2>
                </div>
                <a href="#" class="see-more-btn">See All</a>
              </div>
            </div>
            <div class="col-md-12">
                <!-- Products -->
             <Products/>
            </div>
          </div>
        </div>
      </div>
</template>

<script>
    import Category from './category/category.vue';
    import Products from "./product/products.vue";
    export default {
      components: {
        Category,
        Products
    },
      setup(){
    
        return {
    
        }
      }
    };
    </script>

<style>
</style>