

    
<template>
    <div>
      <Navbar />
     <router-view></router-view>
      <Footer />
    </div>
  </template>
  
  <script>
      import Nav from "../components/Nav.vue";
      import Footer from "../components/Footer.vue";
      export default {
        components: {
          Navbar: Nav,
          Footer: Footer,
      },
        setup(){
      
          return {
      
          }
        }
      };
      </script>
  
  <style>
  </style>