<template>
    <div class="item h-12">
        <div class="product-item">
            <a href="#" class="product-img">
                <img src="../../assets/img/product/img-1.jpg" alt="" />
                <img :src="product.image" alt="product " />
                <div class="product-absolute-options">
                    <span class="offer-badge-1">6% off</span>
                    <span class="like-icon" title="wishlist"></span>
                </div>
            </a>
            <div class="product-text-dt">
                <p v-if="product.instock == 1">Available<span>(In Stock)</span></p>
                <p v-else class="text-danger">Not Available<span>(Out of Stock)</span></p>
                <h4>{{ product.name }}</h4>
                <div class="product-price">₦{{ product.price }} <span>BULK</span>₦{{ product.bulk_price }}</div>
                <div class="d-flex">
                    <div class="col-md-12 m-0" v-if="cart.filter((item) => product.id == item.id).length == 0">
                        <div class="more-product-btn ">
                            <button class="show-more-btn hover-btn" @click="showTypeOption =!showTypeOption" >
                                <span class="" v-if="!showTypeOption">Add to<i class="uil uil-shopping-cart-alt"></i></span>
                                <span v-else>X</span>
                            </button>
                        </div>
                        <div class="more-product-btn flex" v-if="showTypeOption">
                            <button class="show-more-btn hover-btn mr-1" @click="addToCart({product:product, type:'bulk'})">Bulk
                            </button>
                            <button class="show-more-btn hover-btn" @click="addToCart({product:product, type:'single'})">Single
                            </button>
                        </div>
                    </div>

                    <div class="quantity buttons_added mx-auto mt-4 d-flex" v-else>
                        <input type="button" value="-" class="minus minus-btn" @click="decreaseCart({product:product})" />
                        <p class="mx-3" v-html="cart.filter((item) => item.id == product.id)[0].totalQty"></p>
                        <input type="button" value="+" class="plus plus-btn" @click="increaseCart({product:product})" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { computed, defineComponent, ref } from 'vue';
import { useStore } from 'vuex';
export default defineComponent({
    props: {
        product: {
            type: Object,
            require: true
        }
    },
    setup(props) {
        const product = computed(() => props.product);
        const store = useStore();
        const cart = computed(() => store.state.cart);
        const showTypeOption = ref(false)
        const addToCart = (product) => {
            showTypeOption.value=false;
            store.commit('addToCart', product)
        };
        

        const removeFromCart = (product) => {
            store.commit('removeFromCart', product)
        };
        const increaseCart = (product) => {
            showTypeOption.value=false;
            store.commit('increaseCart', product)
        };
        const decreaseCart = (product) => {
            store.commit('decreaseCart', product)
        }

        return {
            decreaseCart,
            increaseCart,
            showTypeOption,
            cart,
            addToCart,
            removeFromCart,
            product
        }
    },
})
</script>
