<template>
    <div v-if="loading">
        <Loader />
    </div>
    <div v-else>
        <h1 class="Error-not" v-if="products.length < 1">-Products Not Found-</h1>
        <carousel :items-to-show="itemsToShow(products.length)" snapAlign="center" v-else>
            <slide v-for="product in products" :key="product.id" class="carousel__slide__white__bg">
                <!-- Product Items -->
                <ProductItem :product='product' />
            </slide>
            <template #addons>
                <Navigation />
                <Pagination />
            </template>
        </carousel>
    </div>
    <div class="more-product-btn">

        <router-link to="/shop" class="show-more-btn hover-btn">Show More</router-link>
    </div>

</template>

<script>
import '../../assets/css/carousel.css';
import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';
import { useStore } from 'vuex';
import { ref, onMounted, watch } from 'vue'
import { computed, reactive } from '@vue/reactivity';
import Loader from '@/components/loader.vue';
import ProductItem from './product-item.vue'
import { UseCarouselCount } from '../../composables/useCarouselCount';
export default {
    components: {
        ProductItem,
        Carousel,
        Slide,
        Pagination,
        Navigation,
        Loader
    },
    setup() {

        const store = useStore();
        const products = ref([]);
        const query = computed(() => store.state.productQuery);
        const loading = ref(false);
        const { itemsToShow } = UseCarouselCount();

        const getProduct = async () => {
            loading.value = true;
            await store.dispatch('get', '/product?query=' + query.value).then((data) => {
                products.value = data.data;
                loading.value = false;

            }).catch((error) => console.log(error))
            loading.value = false;
        }
        onMounted(async () => {
            await getProduct();
        });
        watch(query, () => {
            getProduct();
        })
        return {
            itemsToShow,
            getProduct,
            loading,
            products,
        }
    },


}
</script>

<style>
.Error-not {
    color: red;
    text-align: center;
}
</style>