<template>
  <div>
         <header class="header clearfix">
            <div class="top-header-group">
                <div class="top-header">
                    <div class="container">
                        <div class="main_logo blog_logo ml-0" id="logo">
                            <a href="index.html"><img src="../assets/img/logo.svg" alt="" /></a>
                            <a href="index.html"><img class="logo-inverse" src="../assets/img/dark-logo.svg" alt="" /></a>
                        </div>
                        <div class="header_right pr-0">
                            <nav class="navbar navbar-expand-lg navbar-light py-3">
                                <button class="navbar-toggler menu_toggle_btn" type="button" data-target="#navbarSupportedContent"><i class="uil uil-bars"></i></button>
                                <div class="collapse navbar-collapse d-flex flex-column flex-lg-row flex-xl-row justify-content-lg-end bg-dark1 p-3 p-lg-0 bmt1-5 mt-lg-0 mobileMenu" id="navbarSupportedContent">
                                    <ul class="navbar-nav main_nav align-self-stretch blog-nav">
                                        <li class="nav-item"><a href="#" class="nav-link" title="Home">Trending Articles</a></li>
                                        <li class="nav-item"><a href="#" class="nav-link new_item" title="New Products">Recent Articles</a></li>
                                        <li class="nav-item"><a href="#" class="nav-link" title="Featured Products">Tips & Tricks</a></li>
                                        <li class="nav-item"><a href="#" class="nav-link" title="Contact">Announcement</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>

  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>