<template>
  <div>
       <header class="header clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="top-header-group">
                            <div class="top-header">
                                <div class="res_main_logo">
                                    <a href="index.html"><img src="../assets/img/dark-logo-1.svg" alt="" /></a>
                                </div>
                                <div class="main_logo ml-0" id="logo">
                                    <a href="index.html"><img src="../assets/img/logo.svg" alt="" /></a>
                                    <a href="index.html"><img class="logo-inverse" src="../assets/img/dark-logo.svg" alt="" /></a>
                                </div>
                                <div class="header_right">
                                    <a href="#" class="report-btn hover-btn">Report on Issue</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
  </div>
</template>

<script>
export default {
  name: 'Nav-two'
}
</script>

<style>

</style>