<template>
    <div>
        <Category/>
        <div id="search_model" class="header-cate-model main-gambo-model modal fade" tabindex="-1" role="dialog"
            aria-modal="false">
            <div class="modal-dialog search-ground-area" role="document">
                <div class="category-area-inner">
                    <div class="modal-header">
                        <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                            <i class="uil uil-multiply"></i>
                        </button>
                    </div>
                    <div class="category-model-content modal-content">
                        <div class="search-header">
                            <form action="#">
                                <input type="text" placeholder="Search for products...fff" v-model="store.state.productQuery" />
                                <button type="submit"><i class="uil uil-search"></i></button>
                            </form>
                        </div>
                        <div class="search-by-cat">
                            <a href="#" class="single-cat">
                                <div class="icon">
                                    <img src="../assets/img/category/icon-1.svg" alt="" />
                                </div>
                                <div class="text">
                                    Fruits and Vegetables
                                </div>
                            </a>
                            <a href="#" class="single-cat">
                                <div class="icon">
                                    <img src="../assets/img/category/icon-2.svg" alt="" />
                                </div>
                                <div class="text">Grocery & Staples</div>
                            </a>
                            <a href="#" class="single-cat">
                                <div class="icon">
                                    <img src="../assets/img/category/icon-3.svg" alt="" />
                                </div>
                                <div class="text">Dairy & Eggs</div>
                            </a>
                            <a href="#" class="single-cat">
                                <div class="icon">
                                    <img src="../assets/img/category/icon-4.svg" alt="" />
                                </div>
                                <div class="text">Beverages</div>
                            </a>
                            <a href="#" class="single-cat">
                                <div class="icon">
                                    <img src="../assets/img/category/icon-5.svg" alt="" />
                                </div>
                                <div class="text">Snacks</div>
                            </a>
                            <a href="#" class="single-cat">
                                <div class="icon">
                                    <img src="../assets/img/category/icon-6.svg" alt="" />
                                </div>
                                <div class="text">Home Care</div>
                            </a>
                            <a href="#" class="single-cat">
                                <div class="icon">
                                    <img src="../assets/img/category/icon-7.svg" alt="" />
                                </div>
                                <div class="text">Noodles & Sauces</div>
                            </a>
                            <a href="#" class="single-cat">
                                <div class="icon">
                                    <img src="../assets/img/category/icon-8.svg" alt="" />
                                </div>
                                <div class="text">Personal Care</div>
                            </a>
                            <a href="#" class="single-cat">
                                <div class="icon">
                                    <img src="../assets/img/category/icon-9.svg" alt="" />
                                </div>
                                <div class="text">Pet Care</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- cart modal -->
        <cart />
        <!-- cart modal -->



        <header class="header clearfix">
            <div class="top-header-group">
                <div class="top-header">
                    <div class="res_main_logo">
                        <a href="index.html"><img src="../assets/img/dark-logo-1.svg" alt="" /></a>
                    </div>
                    <div class="main_logo" id="logo">
                        <a href="index.html"><img src="../assets/img/logo.svg" alt="" /></a>
                        <a href="index.html"><img class="logo-inverse" src="../assets/img/dark-logo.svg" alt="" /></a>
                    </div>

                    <div class="search120">
                        <div class="ui search">
                            <div class="ui left icon input swdh10">
                                <input class="prompt srch10" type="text" placeholder="Search for products.." v-model="store.state.productQuery" />
                                <i class="uil uil-search-alt icon icon1"></i>
                            </div>
                        </div>
                    </div>
                    <div class="header_right">
                        <ul>
                            <li>
                                <a href="faq.html" class="offer-link"><i class="uil uil-question-circle"></i>Help</a>
                            </li>
                            <li class="ui dropdown">
                                <a href="#" class="opts_account">
                                    <img src="../assets/img/avatar/img-5.jpg" alt="" />
                                    <span class="user__name">{{ user.data.name }}</span>
                                    <i class="uil uil-angle-down"></i>
                                </a>
                                <div class="menu dropdown_account">
                                    <div class="night_mode_switch__btn">
                                        <a href="#" id="night-mode" class="btn-night-mode">
                                            <i class="uil uil-moon"></i> Night mode
                                            <span class="btn-night-mode-switch">
                                                <span class="uk-switch-button"></span>
                                            </span>
                                        </a>
                                    </div>
                                    <a href="dashboard_overview.html" class="item channel_item"><i
                                            class="uil uil-apps icon__1"></i>Dashbaord</a>
                                    <a href="dashboard_my_orders.html" class="item channel_item"><i
                                            class="uil uil-box icon__1"></i>My Orders</a>
                                    <a href="dashboard_my_wishlist.html" class="item channel_item"><i
                                            class="uil uil-heart icon__1"></i>My Wishlist</a>
                                    <a href="dashboard_my_wallet.html" class="item channel_item"><i
                                            class="uil uil-usd-circle icon__1"></i>My Wallet</a>
                                    <a href="dashboard_my_addresses.html" class="item channel_item"><i
                                            class="uil uil-location-point icon__1"></i>My Address</a>
                                    <a href="offers.html" class="item channel_item"><i
                                            class="uil uil-gift icon__1"></i>Offers</a>
                                    <a href="faq.html" class="item channel_item"><i
                                            class="uil uil-info-circle icon__1"></i>Faq</a>
                                    <a href="sign_in.html" class="item channel_item"><i
                                            class="uil uil-lock-alt icon__1"></i>Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="sub-header-group">
                <div class="sub-header">
                    <div class="ui dropdown">
                        <a href="#" class="category_drop hover-btn" data-toggle="modal" data-target="#category_model"
                            title="Categories"><i class="uil uil-apps"></i><span class="cate__icon">Select
                                Category</span></a>
                    </div>
                    <nav class="navbar navbar-expand-lg navbar-light py-3">
                        <div class="container-fluid">
                            <button class="navbar-toggler menu_toggle_btn" type="button"
                                data-target="#navbarSupportedContent"><i class="uil uil-bars"></i></button>
                            <div class="collapse navbar-collapse d-flex flex-column flex-lg-row flex-xl-row justify-content-lg-end bg-dark1 p-3 p-lg-0 mt1-5 mt-lg-0 mobileMenu"
                                id="navbarSupportedContent">
                                <ul class="navbar-nav main_nav align-self-stretch">
                                    <li class="nav-item"><a href="index.html" class="nav-link active"
                                            title="Home">Home</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <div class="catey__icon">
                        krj
                        <a href="#" class="cate__btn" data-toggle="modal" data-target="#category_model"
                            title="Categories"><i class="uil uil-apps"></i></a>
                    </div>
                    <div class="header_cart order-1">
                        <a href="#" class="cart__btn hover-btn pull-bs-canvas-left" title="Cart"><i
                                class="uil uil-shopping-cart-alt"></i><span>Cart</span><ins>{{cartLength}}</ins><i
                                class="uil uil-angle-down"></i></a>
                    </div>
                    <div class="search__icon order-1">
                        <a href="#" class="search__btn hover-btn" data-toggle="modal" data-target="#search_model"
                            title="Search"><i class="uil uil-search"></i></a>
                    </div>
                </div>
            </div>
        </header>
    </div>
</template>

<script>
import { useStore } from 'vuex';
import { computed } from '@vue/reactivity';
import cart from './cart/cart.vue';
import Category from './category/category.vue';
export default {
    components: { cart, Category },
    name: 'Nav',
    setup() {
        const store = useStore();
        const user = computed(() => store.state.user);
        const cartLength = computed(() => store.state.totalCartLength);
        console.log(store.state.productQuery);
        return {

            cartLength,
            user,
            store,
        }
    },
    created() {
    }

}
</script>

<style>

</style>