<template>
    <div class="row">
       

        <div class="col-md-12">
            <carousel :items-to-show="data.length - 1" :snapAlign="start">
                <slide v-for="values in data" :key="values.id" class=" carousel__slide__white__bg">
                    <div class="item ">
                        <a href="#" class="category-item">
                            <div class="cate-img">
                                <img src="../assets/img/category/icon-2.svg" alt="" class="img-fluid" />
                            </div>
                            <h4>{{values.name}} {{values.length}}</h4>
                        </a>
                    </div>
                </slide>
                <template #addons>
                    <Navigation />
                    <Pagination />
                </template>
            </carousel>
        </div>

    </div>
</template>

<script>
import '../assets/css/carousel.css';
import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';
import { ref } from '@vue/reactivity';
import Loader from '@/components/loader.vue';
export default {
    components: {
        Carousel,
        Slide,
        Pagination,
        Navigation,
        Loader
    },
    props:{
        data:{
            type: Object,
            required: true
        }
    },
    setup(props) {
       const data = ref(props.data);
        return {
            data
        }
    },
    created() {
    }
}
</script>

<style>

</style>