<template>
  <Notification/>
  <router-view />
</template>
<script>
import { useStore } from 'vuex';
import { computed } from '@vue/reactivity';
import { watch } from 'vue'
import Notification from './components/Notification.vue';
export default {
    name: "Nav",
    setup() {
        const store = useStore();
        const cart = computed(() => store.state.cart);
        const getUser = () => {
            store.commit("getUser");
        };
        watch(cart,()=>{
            store.commit('updateCartLength');
            store.commit('updateCartPrice');
        }, {deep: true});
        return {
            cart,
            getUser
        };
    },
    created() {
        this.$store.commit('replaceCart');
        // var token = localStorage.getItem('token');
        var userr = localStorage.getItem("user");
        if (userr) {
            // this.$store.state.token = token;
            var user = decodeURIComponent(userr);
            this.$store.state.user = JSON.parse(user);
            this.$store.state.token = JSON.parse(user).token;
        }
        else {
            this.$router.push("/signin");
        }
        if (this.$route.meta.AuthRequired || this.$route.matched.find((d) => d.meta.AuthRequired)) {
            if (!userr) {
                this.$router.push("/signin");
                return false;
            }
        }
    },
    components: { Notification }
}
</script>
<style>

</style>
