<template>
    <div class="sign-inup">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="sign-form">
                        <div class="sign-inner">
                            <div class="sign-logo" id="logo">
                                <a href="index.html"><img src="images/logo.svg" alt=""></a>
                                <a href="index.html"><img class="logo-inverse" src="images/dark-logo.svg" alt=""></a>
                            </div>
                            <div class="form-dt">
                                <div class="form-inpts checout-address-step">
                                    <Notification />
                                    <form @submit.prevent="signin">
                                        <div class="form-title">
                                            <h6>Sign In</h6>
                                        </div>
                                        <div class="form-group pos_rel mb-3">
                                            <input id="phone[number]" v-model="userDetails.email" type="text"
                                                placeholder="Enter Your Email" class="form-control lgn_input"
                                                required="">
                                            <i class="uil uil-mobile-android-alt lgn_icon"></i>
                                        </div>
                                        <div class="form-group pos_rel mb-3">
                                            <input id="password1" v-model="userDetails.password" type="password"
                                                placeholder="Enter Password" class="form-control lgn_input" required="">
                                            <i class="uil uil-padlock lgn_icon"></i>
                                        </div>
                                        <button class="login-btn hover-btn h_50" disabled
                                            v-if="loading">Loading...</button>
                                        <button class="login-btn hover-btn h_50" type="submit" v-else>Sign In
                                            Now</button>
                                    </form>
                                </div>
                                <div class="signup-link py-60 block h-20">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="copyright-text text-center mt-4">
                        <i class="uil uil-copyright"></i>Copyright 2022 <b>Gambolthemes</b> . All rights reserved
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { ref } from 'vue';
import { useStore } from 'vuex';
import { computed } from '@vue/reactivity';
import Notification from '@/components/Notification.vue';
import router from '@/router';
export default {
    setup() {
        const loading = ref(false)
        const store = useStore();
        const user = computed(() => store.state.user);
        const userDetails = ref({ email: "", password: "" });
        const signin = () => {
            loading.value = true
            store.dispatch("post", {
                endpoint: "/signin",
                details: userDetails.value
            }).then((data) => {
                loading.value = false
                console.log(data);

                if (data.data.status) {
                    store.commit("setUser", data.data);
                    // window.location.href = "/";
                    router.push('/')
                } else {

                    store.dispatch("handleError", data);

                }
            }).catch((error) => {
                console.log(error);
                loading.value = false
                store.dispatch("handleError", error);

            });
        };
        return {
            userDetails,
            signin,
            user,
            loading
        };
    },
    components: { Notification }
}
</script>

<style>

</style>